<form>
    <div class="form-group">
        <label for="fname">FirstName</label>
        <input type="text" class="form-control" fromControlName ="firstName" id="fname"  placeholder="Enter your Firstname" required>
      </div>
      <div class="form-group">
        <label for="lname">LastName</label>
        <input type="text" class="form-control" fromControlName ="lastname" id="lname"  placeholder="Enter your Lastname" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" fromControlName ="email" id="email"  placeholder="abc234@gmail.com" required> 
      </div>
      <div class="form-group">
        <label for="mobile">Mobile</label>
        <input type="tel" class="form-control" fromControlName ="mobileno" id="mobile"  placeholder="9843912126" required>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" fromControlName ="address" id="address"  placeholder="Enter your Address" required>
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" fromControlName ="city" id="city"  placeholder="Eg:Erode" required>
      </div>
      <div class="form-group">
        <label for="state">State</label>
        <input type="text" class="form-control" fromControlName ="state" id="state"  placeholder="Eg:Tamilnadu" required>
      </div>
      <div class="form-group">
        <label for="pincode"></label>
        <input type="text" class="form-control"  fromControlName ="pincode" id="fname"  placeholder="638056" required>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>